{#
/**
 * @file
 * Default theme implementation to display 6col 6col layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout wrapper.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'layout',
    'layout--twelvecol-fluid',
    'container-fluid',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.first_100vw %}
      <div {{ region_attributes.first_100vw.addClass('layout__region', 'layout__region--first_100vw') }}>
        {{ content.first_100vw }}
      </div>
    {% endif %}
  </div>
{% endif %}

