{#
/**
 * @file
 * Default theme implementation to display 6col 6col layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout wrapper.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'layout',
    'layout--twelvecol',
    'container',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="row">
      {% if content.first_12col %}
        <div {{ region_attributes.first_12col.addClass('layout__region', 'layout__region--first_12col', 'col') }}>
          {{ content.first_12col }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

